.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  margin-top: 2%;
}

body {
  background: rgb(215, 251, 63);
  background: radial-gradient(circle, rgba(215, 251, 63, 1) 8%, rgba(235, 146, 255, 1) 100%);
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: #3797a4;
}

p {
  font-size: 2rem;
  color: #6a2c70;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}

img {
  width: 50%;
  #display: inline;
}

.footer {
  margin-top: 10%;
  color: #5d54a4;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  font-size: 20px;
}
