body{
  background-color:black;
}

header{

 background: gray;
}
h1 {
  font-size: 38px;
  font-weight: bold;
  color:white;
  font-family: Heebo;
  text-align: center;
}
h2{
  font-weight: bold;
  color:white;
  font-family: Heebo;
  text-align: center;
  
}
.pics img{
  padding: 10px;
}
.pics img:hover{
  border:10px solid white;
  border-radius: 9px;
}
header::after{
  content: ;
  display: table;
  clear: both;
}
#navbar{
  background: black;
  position: inherit;
}
#navbar ul{
padding: 0;
margin:0;
list-style: none;
}

#navbar li{
  display:inline-block;
  margin-left: 70px;
  padding: 25px;
  position: relative;
}
#navbar a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
#navbar a:hover{
  color:#979797;
}
#navbar a::before{
  content: '';
  display: block;
  height: 5px;
  width:0;
  top: 0;
  transition: all ease-in-out 250ms;
  position: absolute;
  background-color:#D81F26 ;
}
#navbar a:hover::before{
  width: 100%;
}
footer{
  background-color: black;
  color: white;
  width:100%;
  overflow: hidden;
  padding-bottom: 80px;
  padding-top: 80px;
  margin:0px;
  border-top: 5px #D81F26;
}
footer a{
  color:#ff4949;
  text-decoration: none;

  margin-left: 40px;

  position: relative;
}

footer a:hover{
  color:gray;
}
